<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.example.github">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name="com.billbao.sample.SingleFragmentActivity">
        </activity>
    </application>

</manifest>